In [1]:
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import pandas as pd

In [2]:
df = pd.read_csv('Files/tmdb_movies.csv')
df.head(5)

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,28.0
1,1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,12.0
2,2,245000000,http://www.sonypictures.com/movies/spectre/,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466,28.0
3,3,250000000,http://www.thedarkknightrises.com/,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106,28.0
4,4,260000000,http://movies.disney.com/john-carter,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124,28.0

In [3]:
## Ad.1 - Zwróć listę 10 najwyżej ocenianych filmów (vote_average), 
## których liczba głosów (vote_count) jest większa od 3. kwartyla rozkładu liczby głosów
## DataFrame.quantile(q=0.5, axis=0, numeric_only=False, interpolation='linear', method='single')

In [4]:
vote_count_quantile = df['vote_count'].quantile(0.75)
top_voted_movies = df[df['vote_count'] > vote_count_quantile]

In [5]:
top_rated_movies = top_voted_movies.sort_values('vote_average', ascending=False)
top_ten_movies = top_rated_movies.head(10)
print(top_ten_movies[['original_title','vote_average','vote_count']])

                original_title  vote_average  vote_count
1881  The Shawshank Redemption           8.5        8205
3337             The Godfather           8.4        5893
2294                  千と千尋の神隠し           8.3        3840
3865                  Whiplash           8.3        4254
2731    The Godfather: Part II           8.3        3338
3232              Pulp Fiction           8.3        8428
1818          Schindler's List           8.3        4329
662                 Fight Club           8.3        9413
2170                    Psycho           8.2        2320
1847                GoodFellas           8.2        3128

In [6]:
## Ad.2 - Pogrupuj tabelę w taki sposób, aby otrzymać średni przychód (revenue) oraz średni budżet (budget) w danym roku
## dla filmów opublikowanych od 2010 (włącznie) do 2016 roku (włącznie).

In [7]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['year'] = df['release_date'].dt.year
movies_in_years = df[(df['year']>=2010)&(df['year']<=2016)]
# Tworzenie nowej tabeli z indexem 'year'

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer