In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from collections import Counter

In [3]:
dataset = pd.read_csv('../Files/el.csv', sep=';') # Zamienić separator na średnik
dataset.head()

       lp        data  n1  n2  n3  n4  n5
0  6107.0  26.05.2023   7  16  34  38  40
1  6108.0  27.05.2023   4  17  19  21  25
2  6109.0  28.05.2023  18  26  33  34  40
3  6110.0  29.05.2023  11  13  36  37  40
4  6111.0  30.05.2023   1   6  17  18  29

In [4]:
# Utwórz listę z danymi kolumn n1, n2, n3, n4, n5 i n6
dane = dataset[['n1', 'n2', 'n3', 'n4', 'n5']].values.tolist()

In [5]:
wyniki = []
for sublist in dane:
    wyniki.extend(sublist)

In [6]:
liczby_wystapienia = dict(Counter(wyniki))

# Wyliczenia

In [7]:
# Definiowanie przedziałów
przedzialy = {
    '1-7': 0,
    '8-14': 0,
    '15-21': 0,
    '22-28': 0,
    '29-36': 0,
    '37-42': 0
}

# Przypisywanie wartości wystąpień do odpowiednich przedziałów
for liczba, wystapienia in liczby_wystapienia.items():
    if 1 <= liczba <= 7:
        przedzialy['1-7'] += wystapienia
    elif 8 <= liczba <= 14:
        przedzialy['8-14'] += wystapienia
    elif 15 <= liczba <= 21:
        przedzialy['15-21'] += wystapienia
    elif 22 <= liczba <= 28:
        przedzialy['22-28'] += wystapienia
    elif 29 <= liczba <= 36:
        przedzialy['29-36'] += wystapienia
    elif 37 <= liczba <= 42:
        przedzialy['37-42'] += wystapienia

# Wypisz wyniki
for przedzial, liczba_wystapien in przedzialy.items():
    print(f"Przedział {przedzial}: {liczba_wystapien} wystąpień.")

Przedział 1-7: 24 wystąpień.
Przedział 8-14: 14 wystąpień.
Przedział 15-21: 17 wystąpień.
Przedział 22-28: 15 wystąpień.
Przedział 29-36: 16 wystąpień.
Przedział 37-42: 14 wystąpień.

In [8]:
# Sortowanie przedziałów malejąco według liczby wystąpień
posortowane_przedzialy = sorted(przedzialy.items(), key=lambda x: x[1], reverse=True)

# Wyświetlanie 2 wartości, które wystąpiły najczęściej w każdym przedziale
for przedzial, liczba_wystapien in posortowane_przedzialy:
    print(f"Przedział {przedzial}: {liczba_wystapien} wystąpień.")
    
# Tworzenie słownika wartości wystąpień dla danego przedziału
    wartosci_wystapien = {}
    for sublist in dane:
        for liczba in sublist:
            if liczba >= int(przedzial.split('-')[0]) and liczba <= int(przedzial.split('-')[1]):
                if liczba in wartosci_wystapien:
                    wartosci_wystapien[liczba] += 1
                else:
                    wartosci_wystapien[liczba] = 1
    
# Sortowanie wartości wystąpień malejąco
    posortowane_wartosci = sorted(wartosci_wystapien.items(), key=lambda x: x[1], reverse=True)
    
# Wyświetlanie dwóch wartości wystąpień najczęściej występujących
    for wartosc, wystapienia in posortowane_wartosci[:2]:
        print(f" - Wartość: {wartosc}, wystąpienia: {wystapienia}")

Przedział 1-7: 24 wystąpień.
 - Wartość: 7, wystąpienia: 7
 - Wartość: 1, wystąpienia: 4
Przedział 15-21: 17 wystąpień.
 - Wartość: 16, wystąpienia: 3
 - Wartość: 17, wystąpienia: 3
Przedział 29-36: 16 wystąpień.
 - Wartość: 34, wystąpienia: 3
 - Wartość: 29, wystąpienia: 3
Przedział 22-28: 15 wystąpień.
 - Wartość: 26, wystąpienia: 5
 - Wartość: 25, wystąpienia: 2
Przedział 8-14: 14 wystąpień.
 - Wartość: 11, wystąpienia: 4
 - Wartość: 10, wystąpienia: 4
Przedział 37-42: 14 wystąpień.
 - Wartość: 40, wystąpienia: 3
 - Wartość: 42, wystąpienia: 3