In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from collections import Counter

In [2]:
dataset = pd.read_csv('../Files/multi_multi.csv', sep=',', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,18.03.1996,22:00,4,9,10,16,21,22,23,...,41,42,48,62,66,68,73,76,78,0
1,2,19.03.1996,22:00,6,12,15,19,28,33,35,...,59,62,63,64,67,69,71,75,77,0
2,3,21.03.1996,22:00,2,4,6,7,15,16,17,...,45,48,52,54,69,72,73,75,77,0
3,4,22.03.1996,22:00,3,8,15,17,19,25,30,...,38,44,49,60,61,64,67,68,75,0
4,5,25.03.1996,22:00,2,10,11,14,18,22,26,...,44,45,55,60,61,66,67,75,79,0

In [3]:
columns_to_drop = [0, 1, 2, 23]
dataset = dataset.drop(columns = columns_to_drop, axis = 1)
dataset.head()

,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,4,9,10,16,21,22,23,26,27,34,35,41,42,48,62,66,68,73,76,78
1,6,12,15,19,28,33,35,39,44,48,49,59,62,63,64,67,69,71,75,77
2,2,4,6,7,15,16,17,19,20,26,28,45,48,52,54,69,72,73,75,77
3,3,8,15,17,19,25,30,33,34,35,36,38,44,49,60,61,64,67,68,75
4,2,10,11,14,18,22,26,27,29,30,42,44,45,55,60,61,66,67,75,79

In [4]:
dataset = dataset.tail(20)
dataset

,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
14794,1,7,8,16,21,24,29,30,40,46,48,49,50,55,57,62,65,69,72,78
14795,1,3,13,14,16,20,35,38,42,43,44,45,48,51,54,55,61,67,76,79
14796,2,7,9,12,16,19,39,42,43,46,49,52,53,56,57,68,69,73,79,80
14797,5,6,12,15,25,29,31,32,39,40,41,44,47,52,61,65,70,72,73,76
14798,2,4,5,6,7,14,15,16,19,22,29,30,40,41,45,49,59,69,70,71
14799,4,14,16,17,21,25,26,28,31,37,45,47,50,51,57,68,71,77,78,80
14800,4,5,9,12,13,23,37,43,51,53,55,65,66,67,71,72,73,75,77,78
14801,6,10,11,19,21,24,26,28,29,40,42,45,51,60,62,64,66,68,70,80
14802,1,3,7,12,18,19,20,22,36,39,40,51,53,56,62,70,72,76,78,80
14803,3,4,7,12,18,23,33,34,39,41,44,45,57,58,68,69,74,76,77,80
14804,5,9,18,22,24,25,29,30,31,35,37,38,39,41,43,49,61,64,75,80
14805,2,5,9,16,19,33,34,39,43,45,46,47,52,56,62,66,70,71,75,78
14806,7,10,15,16,19,23,25,28,29,31,40,43,52,55,58,60,62,63,75,77
14807,3,4,9,13,17,18,20,21,30,31,35,45,52,54,58,67,68,77,78,80
14808,6,8,9,12,16,21,25,31,35,44,47,48,49,50,53,56,66,71,79,80
14809,2,3,4,5,22,24,26,28,38,41,44,46,47,51,52,57,61,66,75,80
14810,7,10,11,15,21,31,35,38,40,41,48,50,57,65,68,69,70,74,77,80
14811,3,7,14,29,35,37,41,45,54,55,57,59,61,64,67,68,69,72,76,79
14812,10,12,13,21,24,26,28,30,31,40,41,43,44,46,55,56,67,69,73,74
14813,1,7,8,12,13,18,25,33,39,44,48,53,58,60,62,66,72,74,78,79

In [5]:
values_list = dataset.values.ravel()
print(values_list)

[ 1  7  8 16 21 24 29 30 40 46 48 49 50 55 57 62 65 69 72 78  1  3 13 14
 16 20 35 38 42 43 44 45 48 51 54 55 61 67 76 79  2  7  9 12 16 19 39 42
 43 46 49 52 53 56 57 68 69 73 79 80  5  6 12 15 25 29 31 32 39 40 41 44
 47 52 61 65 70 72 73 76  2  4  5  6  7 14 15 16 19 22 29 30 40 41 45 49
 59 69 70 71  4 14 16 17 21 25 26 28 31 37 45 47 50 51 57 68 71 77 78 80
  4  5  9 12 13 23 37 43 51 53 55 65 66 67 71 72 73 75 77 78  6 10 11 19
 21 24 26 28 29 40 42 45 51 60 62 64 66 68 70 80  1  3  7 12 18 19 20 22
 36 39 40 51 53 56 62 70 72 76 78 80  3  4  7 12 18 23 33 34 39 41 44 45
 57 58 68 69 74 76 77 80  5  9 18 22 24 25 29 30 31 35 37 38 39 41 43 49
 61 64 75 80  2  5  9 16 19 33 34 39 43 45 46 47 52 56 62 66 70 71 75 78
  7 10 15 16 19 23 25 28 29 31 40 43 52 55 58 60 62 63 75 77  3  4  9 13
 17 18 20 21 30 31 35 45 52 54 58 67 68 77 78 80  6  8  9 12 16 21 25 31
 35 44 47 48 49 50 53 56 66 71 79 80  2  3  4  5 22 24 26 28 38 41 44 46
 47 51 52 57 61 66 75 80  7 10 11 15 21 31 35 38 40 41 48 50 57 65 68 69
 70 74 77 80  3  7 14 29 35 37 41 45 54 55 57 59 61 64 67 68 69 72 76 79
 10 12 13 21 24 26 28 30 31 40 41 43 44 46 55 56 67 69 73 74  1  7  8 12
 13 18 25 33 39 44 48 53 58 60 62 66 72 74 78 79]

In [6]:
dane = dict(Counter(values_list))
print(dane)

{1: 4, 7: 9, 8: 3, 16: 8, 21: 7, 24: 5, 29: 7, 30: 5, 40: 8, 46: 5, 48: 5, 49: 5, 50: 4, 55: 6, 57: 7, 62: 6, 65: 4, 69: 7, 72: 6, 78: 7, 3: 6, 13: 5, 14: 4, 20: 3, 35: 6, 38: 4, 42: 3, 43: 7, 44: 7, 45: 8, 51: 6, 54: 3, 61: 5, 67: 5, 76: 5, 79: 5, 2: 4, 9: 6, 12: 8, 19: 6, 39: 7, 52: 6, 53: 5, 56: 5, 68: 7, 73: 4, 80: 10, 5: 6, 6: 4, 15: 4, 25: 6, 31: 8, 32: 1, 41: 8, 47: 5, 70: 6, 4: 6, 22: 4, 59: 2, 71: 5, 17: 2, 26: 4, 28: 5, 37: 4, 77: 6, 23: 3, 66: 6, 75: 5, 10: 4, 11: 2, 60: 3, 64: 3, 18: 5, 36: 1, 33: 3, 34: 2, 58: 4, 74: 4, 63: 1}

# Wyliczenia

In [7]:
# Definiowanie przedziałów
przedzialy = {
    '1-10': 0,
    '11-20': 0,
    '21-30': 0,
    '31-40': 0,
    '41-50': 0,
    '51-60': 0,
    '61-70': 0,
    '71-80': 0

}

# Przypisz wartości wystąpień do odpowiednich przedziałów
for liczba, wystapienia in dane.items():
    liczba = int(liczba)  # Zamień klucz na liczbę całkowitą
    if 1 <= liczba <= 10:
        przedzialy['1-10'] += wystapienia
    elif 11 <= liczba <= 20:
        przedzialy['11-20'] += wystapienia
    elif 21 <= liczba <= 30:
        przedzialy['21-30'] += wystapienia
    elif 31 <= liczba <= 40:
        przedzialy['31-40'] += wystapienia
    elif 41 <= liczba <= 50:
        przedzialy['41-50'] += wystapienia
    elif 51 <= liczba <= 60:
        przedzialy['51-60'] += wystapienia
    elif 61 <= liczba <= 70:
        przedzialy['61-70'] += wystapienia
    elif 71 <= liczba <= 80:
        przedzialy['71-80'] += wystapienia

# Wypisz wyniki
for przedzial, dane_w_przedziale in przedzialy.items():
    print(f"Przedział {przedzial}: {dane_w_przedziale} wystąpień.")

Przedział 1-10: 52 wystąpień.
Przedział 11-20: 47 wystąpień.
Przedział 21-30: 46 wystąpień.
Przedział 31-40: 44 wystąpień.
Przedział 41-50: 57 wystąpień.
Przedział 51-60: 47 wystąpień.
Przedział 61-70: 50 wystąpień.
Przedział 71-80: 57 wystąpień.

In [13]:
# # Sortowanie przedziałów malejąco według liczby wystąpień
# posortowane_przedzialy = sorted(przedzialy.items(), key=lambda x: x[1], reverse=True)

# # Wyświetlanie 2 wartości, które wystąpiły najczęściej w każdym przedziale
# for przedzial, dane in posortowane_przedzialy:
#     print(f"Przedział {przedzial}: {dane_w_przedziale} wystąpień.")
    
# Tworzenie słownika wartości wystąpień dla danego przedziału
wartosci_wystapien = {}

for przedzial, dane_w_przedziale in posortowane_przedzialy:
    przedzial_start, przedzial_end = map(int, przedzial.split('-'))
    
    # Tworzenie listy wartości w danym przedziale
    wartosci_w_przedziale = [liczba for liczba in values_list if przedzial_start <= int(liczba) <= przedzial_end]
    
    # Tworzenie słownika wartości wystąpień w danym przedziale
    dane_w_przedziale = dict(Counter(wartosci_w_przedziale))
    
    # Sortowanie wartości wystąpień w danym przedziale
    posortowane_wartosci = sorted(dane_w_przedziale.items(), key=lambda x: x[1], reverse=True)
    
    # Wybieranie dwóch najczęściej występujących wartości
    wybrane_wartosci = posortowane_wartosci[:3]
    
    # Dodawanie wybranych wartości do słownika wynikowego
    wartosci_wystapien[przedzial] = wybrane_wartosci

# Wyświetlanie wybranych wartości
for przedzial, wybrane_wartosci in wartosci_wystapien.items():
    print(f"Przedział {przedzial}:")
    for wartosc, wystapienia in wybrane_wartosci:
        print(f" - Wartość: {wartosc}, wystąpienia: {wystapienia}")

Przedział 41-50:
 - Wartość: 45, wystąpienia: 8
 - Wartość: 41, wystąpienia: 8
 - Wartość: 43, wystąpienia: 7
Przedział 71-80:
 - Wartość: 80, wystąpienia: 10
 - Wartość: 78, wystąpienia: 7
 - Wartość: 72, wystąpienia: 6
Przedział 1-10:
 - Wartość: 7, wystąpienia: 9
 - Wartość: 3, wystąpienia: 6
 - Wartość: 9, wystąpienia: 6
Przedział 61-70:
 - Wartość: 69, wystąpienia: 7
 - Wartość: 68, wystąpienia: 7
 - Wartość: 62, wystąpienia: 6
Przedział 11-20:
 - Wartość: 16, wystąpienia: 8
 - Wartość: 12, wystąpienia: 8
 - Wartość: 19, wystąpienia: 6
Przedział 51-60:
 - Wartość: 57, wystąpienia: 7
 - Wartość: 55, wystąpienia: 6
 - Wartość: 51, wystąpienia: 6
Przedział 21-30:
 - Wartość: 21, wystąpienia: 7
 - Wartość: 29, wystąpienia: 7
 - Wartość: 25, wystąpienia: 6
Przedział 31-40:
 - Wartość: 40, wystąpienia: 8
 - Wartość: 31, wystąpienia: 8
 - Wartość: 39, wystąpienia: 7