In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],

                    'B': ['B0', 'B1', 'B2', 'B3'],

                    'C': ['C0', 'C1', 'C2', 'C3'],

                    'D': ['D0', 'D1', 'D2', 'D3']},

                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],

                    'B': ['B4', 'B5', 'B6', 'B7'],

                    'C': ['C4', 'C5', 'C6', 'C7'],

                    'D': ['D4', 'D5', 'D6', 'D7']},

                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],

                    'B': ['B8', 'B9', 'B10', 'B11'],

                    'C': ['C8', 'C9', 'C10', 'C11'],

                    'D': ['D8', 'D9', 'D10', 'D11']},

                    index=[8, 9, 10, 11])

In [3]:
def make_keys(n):
    return [f'key{n}' for n in range(n)]
left = df1.copy()
left['key'] = make_keys(4)
right = df3.copy()
right['key'] = make_keys(4)
print(right)
print(left)

      A    B    C    D   key
8    A8   B8   C8   D8  key0
9    A9   B9   C9   D9  key1
10  A10  B10  C10  D10  key2
11  A11  B11  C11  D11  key3
    A   B   C   D   key
0  A0  B0  C0  D0  key0
1  A1  B1  C1  D1  key1
2  A2  B2  C2  D2  key2
3  A3  B3  C3  D3  key3

In [4]:
other = pd.DataFrame({'E':['E1','E2','E3','E4','E5','E6']},index=['B1','B2','B3','B4','B5','B6'])
other

     E
B1  E1
B2  E2
B3  E3
B4  E4
B5  E5
B6  E6

In [5]:
## Punktem wspólnym są z kolei kolumna ‘B’ w left oraz indeks w other. 
## W takim wypadku możemy użyć funkcji join, aby je ze sobą połączyć.

In [6]:
left.join(other,on='B')

    A   B   C   D   key    E
0  A0  B0  C0  D0  key0  NaN
1  A1  B1  C1  D1  key1   E1
2  A2  B2  C2  D2  key2   E2
3  A3  B3  C3  D3  key3   E3

In [7]:
## Usuwamy NaN

In [8]:
left.join(other,on='B',how='inner')

    A   B   C   D   key   E
1  A1  B1  C1  D1  key1  E1
2  A2  B2  C2  D2  key2  E2
3  A3  B3  C3  D3  key3  E3

In [9]:
# ĆWICZENIE
# dlaczego tutaj musimy dodać lsuffix i rsuffix
# Przesyłany błąd wskazuje na wystąpienie konfliktu nazw kolumn w tabelach "left" i "right". 
# Aby rozwiązać ten problem, możesz dodać sufiks do kolumn, 
# które się nakładają, za pomocą parametru lsuffix i rsuffix w funkcji join.

In [10]:
result = left.join(right.set_index('key'), on='key', lsuffix='_left', rsuffix='_right')
print(result)

  A_left B_left C_left D_left   key A_right B_right C_right D_right
0     A0     B0     C0     D0  key0      A8      B8      C8      D8
1     A1     B1     C1     D1  key1      A9      B9      C9      D9
2     A2     B2     C2     D2  key2     A10     B10     C10     D10
3     A3     B3     C3     D3  key3     A11     B11     C11     D11